@tailwind base;
@tailwind components;
@tailwind utilities;


.triangle-down {
    @apply relative h-0 w-0;
    border-left: 1rem solid transparent;
    border-right: 1rem solid transparent;
    border-top: 1.5rem solid black; /* Color of the triangle */
}
