@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes expandContract {
  0%, 100% {
    transform: rotate(45deg) scale(1);
  }
  50% {
    transform: rotate(45deg) scale(1.1);
  }
}

.arrow-down {
  border: solid white;
  border-width: 0 20px 20px 0;
  display: inline-block;
  padding: 40px;
  transform: rotate(45deg);
  animation: expandContract 2s ease-in-out infinite;
}


.triangle-button {
    @apply relative h-0 w-0;
  }
  
  .triangle-down {
    border-left: 1rem solid transparent;
    border-right: 1rem solid transparent;
    border-top: 1.5rem solid #0089aa; /* Adjust the color as needed */
  }
  
  .triangle-up {
    border-left: 1rem solid transparent;
    border-right: 1rem solid transparent;
    border-bottom: 1.5rem solid #0089aa; /* Adjust the color as needed */
  }
  

.hamburger-menu {
    @apply inline-flex flex-col justify-center items-center w-10 h-10 rounded-full bg-white border-2;
    border-color: #0089aa;
}

.hamburger-line {
    @apply w-6 h-0.5 my-1;
    background-color: #0089aa;
    transition: all 0.3s ease-in-out;
}

/* Transform hamburger into "X" */
.hamburger-x .hamburger-line:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.hamburger-x .hamburger-line:nth-child(2) {
  opacity: 0;
}

.hamburger-x .hamburger-line:nth-child(3) {
  transform: translateY(-11px) rotate(-46deg);
}

.menu-slide-in {
  transform: translateX(0%);
  transition: transform 250ms ease-in-out;
}

.menu-slide-out {
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.card {
  height: 50vh;
}
